.map{
  height: 100vh;
}

.map-small{
  height: 50vh;
}

a{
  text-decoration: none;
}

.facility-title{
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.facility-article{
  padding: .5rem;
  border-top: 2px dashed #aaaaaa;
}

.facility-image{
  max-height: 40vh;
}

.facility-sub-image{
  max-height: 30vh;
}

.facility-sub-image-container{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.facility-sub-image-label::before{
  content: "↑";
  margin-right: .3rem;
  font-size: large;
}

.facility-small-image{
  max-height: 10vh;
}

.facility-button{
  background-color: #ff6f00;
  color: #efefef;
  padding: .3rem;
  margin-top: .5rem;
  border: 0px;
  border-radius: .2rem;
}

.goto-top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #cccccc;
  color: #464646;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}